<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}  {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <title> {% block title %}Profile{% endblock %} </title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-italic" href="/">Vince<span class="text-success">Electronics</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      

      <li class="nav-item">
            <a href="/logout"><button class="btn btn-outline-success float-right" type="submit">Logout</button></a>
      </li>
    </ul>
   
  </div>
</nav>
{%block body%}
<div class="centerthis">
  <p class="press"><a href="/viewprofile/{{id}}/">My Profile</a></p>
  <p>Search {{type}}:</p>
  <form action="" method="POST">
    <input  class="form-control mr-sm-2 mb-3" type="search" name="search" value="" placeholder="Search by Name">
    <input type="submit" class="btn btn-success" value="Search">
  </form>
  </div>
  {% if after_srch %}
    {% if found %}
    <table class="table table-dark">
      <tr>
        <th>SNo.</th><th>NAME</th><th>EMAIL</th><th>PHONE</th><th>ADDRESS</th><th>ZIPCODE</th>
      </tr>
      {% set cnt={'val':1} %}
      {% for items in results %}
      <tr>
        <td>{{cnt['val']}}</td><td><a href="/viewprofile/{{items[0]}}">{{items[1]}}</a></td>
        <td>{{items[2]}}</td><td>{{items[3]}}</td><td>{{items[4]}}, {{items[5]}}, {{items[6]}}, {{items[7]}}, {{items[8]}}</td><td>{{items[9]}}</td>
      </tr>
      {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
      {% endfor %}
    </table>
    {% else %}
    <p>No matching {{type}}s found</p>
    {% endif %}
  {% endif %}
{% endblock %}

<hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="{{'tw_url'}}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{'fb_url'}}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{'gh_url'}}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted text-center">Copyright &copy; VinceElectronics 2021</p>
            <p class="copyright text-muted text-center">+254757625712</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
</body>
</html>